
	* {
        box-sizing: border-box;
      }
      
      .container {
        
        margin: 0;
        font-family: Helvetica;
        height: 400px;
        width: 250px;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 30px auto 100px;
        grid-template-areas: 
        "picture""picture"
        "skill rating""skill rating"
        "contact""contact"
      }

  .vert-card{
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #db00be;
    justify-content: top;
  }
  
  .profile-pic{
    width: 50%;
    height: 50%;
    display: flex;
    border-radius: 50%;
    margin-top: 0%;
    padding: 0%;

  } 

  .picture{
    border-radius: 50%;
    margin: 0%;

  }
  .service-line{

   border: 1rem solid pink;


  }

  .contact{
    margin-bottom:0;
    padding-top: 15%;
  }

  @media only and screen and (mini-width: 1024){
    .container{
        
      margin: 0;
      font-family: Helvetica;
      height: 200px;
      width: 600px;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 30px auto 100px;
      grid-template-areas: 
      "picture""picture"
      "skill rating""skill rating"
      "contact""contact"
    }
    .vert-card{
      height: 300px;
      width: 600px;
      display: flex;
      flex-direction: row;
      background-color: red;
      justify-content: top;
    }
    
    .profile-pic{
      width: 50%;
      height: 50%;
      display: flex;
      border-radius: 50%;
      margin-top: 0%;
      padding: 0%;
  
    } 
  
    .picture{
      border-radius: 50%;
      margin: 0%;
  
    }
    .service-line{
  
     border: 1rem solid blue;
  
  
    }
  
    .contact{
      margin-bottom:0;
      padding-top: 15%;
    }
  }
  